* {
  margin: 0;
  padding: 0;
}
body{ min-height: 100vh;
    background: linear-gradient(to bottom, rgba(81, 162, 229, 0.758), rgba(172, 100, 228, 0.658));}

header {
  position: sticky;      /* rend le header collant */
  top: 0;                /* colle en haut */
  z-index: 1000;         /* passe au-dessus du contenu */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color:rgba(136, 173, 230, 0.95) ;}

.header-right {
  display: flex;
  gap: 30px;
}

a{
    color: white;
}


.entete{font-size: 50px; color: white;}

.B{color:whitesmoke;}

.contact-section {
    background-color: rgba(2, 21, 48, 0.95);
    color: white;
    padding: 50px 2cm;
    border-radius: 20px;
    margin: 2cm;
}

.contact-section h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

.contact-icon {
    display: flex;
    gap: 50px;
    flex-wrap: wrap; /* pour que ce soit responsive */
}

.contact-info {
    flex: 1;
    min-width: 250px;
    font-size: 18px;
}

.contact-info p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.contact-form {
    flex: 2;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.contact-form button {
    padding: 12px;
    border-radius: 10px;
    border-color: rgba(81, 162, 229, 0.758) ;
    background-color: rgba(81, 162, 229, 0.758);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background-color:transparent;
}


/*pour téléphone*/
    /* Pour les écrans <= 768px (tablettes et mobiles) */
@media screen and (max-width: 768px) {
  body {
    padding: 0 10px;
  }

  .section-projets, .contact-section, .section-competences, .presentation, .slide2 {
    padding: 20px;
    margin: 10px;
  }

  .disposition, .slide2 {
    flex-direction: column;  /* empile les éléments verticalement */
    align-items: center;
    gap: 15px;
  }

  .logos, .logos-competences {
    justify-content: center;
    flex-wrap: wrap;
  }

  .carte-projet {
    width: 100%;  /* s'adapte à la largeur de l'écran */
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .header-right {
    flex-direction: column;
    gap: 10px;
  }
}

