* {
  margin: 0;
  padding: 0;
}
body{ min-height: 100vh;
    background: linear-gradient(to bottom, rgba(81, 162, 229, 0.758), rgba(172, 100, 228, 0.658));}

header {
  position: sticky;      /* rend le header collant */
  top: 0;                /* colle en haut */
  z-index: 1000;         /* passe au-dessus du contenu */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color:rgba(136, 173, 230, 0.95) ;}

.header-right {
  display: flex;
  gap: 30px;
}

a{
    color: white;
}


.entete{font-size: 50px; color: white;}

.B{color:whitesmoke;}

.section-projets {
    padding: 50px 2cm;
}

.section-projets h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: white;
}

.carte-projet {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    width: 350px;
    margin: auto;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.image-projet {
    position: relative;
    overflow: hidden;
}

.image-projet img {
    width: 100%;
    display: block;
    transition: transform 0.4s ease;
}


.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.35);
    opacity: 0;
    transition: opacity 0.4s ease;
}

.lien-projet:hover .overlay {
    opacity: 1;
}

.lien-projet:hover img {
    transform: scale(1.05);
}


.description-projet {
    padding: 20px;
}

.description-projet h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.description-projet p {
    font-size: 15px;
    color: #555;
    line-height: 1.4;
}


.lien-projet {
    text-decoration: none;
    color: inherit;
}


/*pour téléphone*/
    /* Pour les écrans <= 768px (tablettes et mobiles) */
@media screen and (max-width: 768px) {
  body {
    padding: 0 10px;
  }

  .section-projets, .contact-section, .section-competences, .presentation, .slide2 {
    padding: 20px;
    margin: 10px;
  }

  .disposition, .slide2 {
    flex-direction: column;  /* empile les éléments verticalement */
    align-items: center;
    gap: 15px;
  }

  .logos, .logos-competences {
    justify-content: center;
    flex-wrap: wrap;
  }

  .carte-projet {
    width: 100%;  /* s'adapte à la largeur de l'écran */
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .header-right {
    flex-direction: column;
    gap: 10px;
  }
}

